doctype html
html
   head
      title = "about page"
      link(rel="stylesheet", href="style.css")
   body
   
      h1(style="background-color:blue; front-size:24px; text-align:center;")  about page 
      p(style="background-color:green; front-weight:bold; text-align:center;") this is about page 
      img(src = "/bird.jpg", alt = "Testing Image")


      